# Wiz Kubernetes Integration

# Global values to override all chart values from external sources.
global:
  nameOverride: "" # Override the release’s name.
  fullnameOverride: "" # Override the release’s full name.
  commonLabels: {} # Labels applied on all the resources (not used for selection)

  # Wiz Service Account used to authenticate to Wiz.
  wizApiToken:
    secret:
      # Should a Secret be created by the chart or not.
      # Set this to false if you wish to create the Secret yourself or using another tool.
      # The Secret should contain clientId for the ID and clientToken for the token.
      create: false
      # Annotations to add to the secret.
      annotations: {}
      # The name of the Wiz Service Account Secret.
      name: "wiz-api-token"


  # Redirect HTTP and/or HTTPS traffic through a proxy.
  httpProxyConfiguration:
    enabled: false # Should the components use a proxy.

    # Should a Secret be created by the chart or not.
    # Set this to false if you wish to create the Secret yourself or using another tool.
    # The Secret should contain httpProxy, httpsProxy, noProxyAddress, caCertificate and clientCertificate.
    create: false
    secretName: "wiz-proxy" # The name of the proxy Secret.
    annotations: {} # Annotations to be set on the secret

    httpProxy: "" # URL to use as a proxy for outbound HTTP traffic.
    httpsProxy: "" # URL to use as a proxy for outbound HTTPS traffic.
    noProxyAddress: # Comma or space-separated list of machine or domain names. Note: This does not affect the Sensor.

    # Proxy CA certificate in PEM format. This is required for TLS intercept proxies
    # This value is currently only used by the wiz sensor.
    caCertificate: ""

    # (optional) Proxy client certificate in PEM format. This is required for client certificate authentication.
    # The file should contain a certificate and a private key in PEM format.
    clientCertificate: ""

  image:
    registry: "" # Registry to get the container images from.
    pullPolicy: "" # Container image pull policy. One of Always, Never, IfNotPresent.
  imagePullSecrets: [] # Secrets for container image registry keys as described in https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod


  nodeSelector: {} # custom assignment to nodes
  affinity:
    # run on linux arm64 or amd64 nodes
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/os
            operator: In
            values:
            - linux
          - key: kubernetes.io/arch
            operator: In
            values:
            - arm64
            - amd64



# Wiz Kubernetes Connector
# Configuration values for the wiz-kubernetes-connector dependency
# ref: https://github.com/wiz-sec/charts/blob/master/wiz-kubernetes-connector/values.yaml
#
wiz-kubernetes-connector:
  enabled: true
  wizApiToken:
    secret:
      create: false # Secret created by wiz-kubernetes-integration.
  httpProxyConfiguration:
    create: false # Secret created by wiz-kubernetes-integration.
  autoCreateConnector:
    enabled: true
    clusterFlavor: EKS
    connectorName: "test-argo"
    # createJobAnnotations:
    #   #argocd.argoproj.io/hook: PostSync
    #   argocd.argoproj.io/sync-wave: "-1" # https://argo-cd.readthedocs.io/en/latest/user-guide/sync-waves/#how-do-i-configure-waves
    #   argocd.argoproj.io/hook: PreSync # Wiz uses a helm hook called pre-install which maps to PreSync phase in argocd
  wiz-broker:
    enabled: true
    rollmeAnnotation:
      enabled: false

# Wiz Admission Controller
# Configuration values for the wiz-admission-controller dependency
# ref: https://github.com/wiz-sec/charts/blob/master/wiz-admission-controller/values.yaml
#
wiz-admission-controller:
  enabled: false
  wizApiToken:
    secret:
      create: false # Secret created by wiz-kubernetes-integration.
  httpProxyConfiguration:
    create: false # Secret created by wiz-kubernetes-integration.
  webhook:
    createSelfSignedCert: true
  imageIntegrityWebhook:
    enabled: true
    policies: ["thuan-test-92402"] 
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::891376972353:role/wiz-ac-sa-role
  imageRegistryClient:
    credentialHelpers: # possible values: amazon, azure, google, github
    - "amazon"
# Wiz Sensor
# Configuration values for the wiz-sensor dependency
# ref: https://github.com/wiz-sec/charts/blob/master/wiz-sensor/values.yaml
#
wiz-sensor:
  enabled: false
  wizApiToken:
    secret:
      create: false # Secret created by wiz-kubernetes-integration.
    name: wiz-api-token
  httpProxyConfiguration:
    create: false # Secret created by wiz-kubernetes-integration.
  imagePullSecret:
    required: true
    create: false
    name: sensor-image-pull
  daemonset:
    tolerations:
    - operator: "Exists"
      # key: "key1"
